# editorconfig.org

root = true

# Geral
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Arquivos Markdown (documentação)
[*.md]
trim_trailing_whitespace = false
indent_size = 4

# Arquivos de imagem e binários
[*.{png,jpg,jpeg,gif,svg,ico}]
trim_trailing_whitespace = false
